body{
    background-color: #B9BDBD;
    color:#424A48 ;
    font-family: sans-serif;
    padding: 0 1em;
}
h1{
    text-align: center;
    color: #1D5C4E ;
    font-size: 1.7em;
    margin-bottom: 1em;
}
nav{
    background-color: rgba(48, 136, 85, 0.9);
    /*Evita que la caja se expanda*/
    box-sizing: border-box;
    position: absolute;
    /*conseguir que el menú se esconda por defecto*/
    left: -18em;
    padding-top: 3em;
    top: 0;
    height: 100%;
    z-index: 5;
    transition: .5s;
}
.menu{
    list-style: none;
    line-height: 42px;
    margin: 2em auto;
    padding-left: 0;
    width: 18em;
}
.menu a{
    color: #ddd;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    width: 100%;
}
li.items{
    color: whitesmoke;
}

.menu li a span{
    margin-left: 9px;
    color: #E4F0ED;
}
a{
    text-decoration: none;
    color: lightblue;
    font-size: 1.1em;
}
li{
    cursor: pointer;
    padding-left: 10px;
    box-shadow: 3px 0 rgba(23, 95, 55, 0.8)inset;
}
.fas{
    color: #E4F0ED;
}
nav.mostrar{
    left: 0;
}
#mostrar-nav >  label{
    cursor: pointer;
    position: absolute;
    top:1.5em;
    left: 2em;
    z-index: 10;
    font-size: 1.5em;
    color: tomato;
}
li:hover{
    background-color: rgba(23, 95, 55, 0.8);
    width: 90%;
    transition: .2s;
    margin-left: 1em;
    box-shadow: 3px 0 rgba(23, 95, 55, 0.8)inset;
    
}
.content{
    width: 90%;
    display: block;
    margin: 0 auto;
}

